* {
  margin: 0;
  box-sizing: border-box;
}
header {
  background: lightblue;
  overflow: auto;
  margin-top: 20px;
  length: 30px;
}
main {
  background: yellow;
}
footer {
  background: lightblue;
}
main, section, article, footer {
  padding: 20px;
  overflow: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 40%;
  margin: 20px;
  background-image: url("imperiumlogo.png");
  background-repeat: no-repeat;
}

.hoofdmenu {
  float: right;
  width: 500px;
}

.hoofdmenu ul li {
  float: left;
  list-style: none;
  margin: 2%;
}

.voorstellingen {
  float: left;
  width: 60%;
}

aside {
  float: left;
  width: 40%;
}
